<a href="https://colab.research.google.com/github/gkondayya/Options/blob/main/IndexWeights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
from google.colab import files
import io
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['nifty50_mcwb.csv']))
df.head()

Saving nifty50_mcwb.csv to nifty50_mcwb (4).csv

,Annexure II- Nifty 50 Index : Apr 2022,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sr. No,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
2,1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,PORT,4224746460,61507.24,0.82,1.37,0.34,2.63,10.62,0.03
3,2,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,HOSPITAL,718923285,45473.17,0.61,0.83,0.11,2.15,-1.37,0.02
4,3,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,145940.41,1.95,0.75,0.20,1.46,5.11,0.02

In [45]:
new_header = df.iloc[1] #grab the first row for the header
df = df[2:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.head(50)

1,Sr. No,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
2,1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,PORT,4224746460,61507.24,0.82,1.37,0.34,2.63,10.62,0.03
3,2,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,HOSPITAL,718923285,45473.17,0.61,0.83,0.11,2.15,-1.37,0.02
4,3,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,145940.41,1.95,0.75,0.20,1.46,5.11,0.02
5,4,AXISBANK,Axis Bank Ltd.,PRIVATE SECTOR BANK,6139220726,192340.56,2.57,1.11,0.39,1.95,-4.28,0.02
6,5,BAJAJ-AUTO,Bajaj Auto Ltd.,MOTOR CYCLES/SCOOTERS,2893670200,48564.39,0.65,0.68,0.22,1.85,2.10,0.03
7,6,BAJFINANCE,Bajaj Finance Ltd.,NBFC,1210858466,177729.32,2.37,1.36,0.46,2.15,-8.10,0.02
8,7,BAJAJFINSV,Bajaj Finserv Ltd.,GENERAL INSURANCE,795687220,90171.05,1.20,1.31,0.42,1.44,-12.60,0.03
9,8,BPCL,Bharat Petroleum Corporation Ltd.,REFINERIES/MARKETING,21692527440,34609.13,0.46,0.90,0.25,2.27,0.90,0.02
10,9,BHARTIARTL,Bharti Airtel Ltd.,TELECOM - SERVICES,27460136340,174520.15,2.33,0.81,0.22,1.17,-2.11,0.02
11,10,BRITANNIA,Britannia Industries Ltd.,CONSUMER FOOD,240868296,38703.50,0.52,0.57,0.20,1.29,2.27,0.02
12,11,CIPLA,Cipla Ltd.,PHARMACEUTICALS,1613628072,50665.34,0.68,0.10,0.00,1.49,-3.62,0.02
13,12,COALINDIA,Coal India Ltd.,INDUSTRIAL MINERALS,61627283270,38313.07,0.51,0.87,0.13,2.92,-0.11,0.03
14,13,DIVISLAB,Divi's Laboratories Ltd.,PHARMACEUTICALS,530937160,57410.02,0.77,0.77,0.21,1.41,2.35,0.03
15,14,DRREDDY,Dr. Reddy's Laboratories Ltd.,PHARMACEUTICALS,832129245,50199.42,0.67,0.60,0.15,1.43,-3.81,0.02
16,15,EICHERMOT,Eicher Motors Ltd.,MOTOR CYCLES/SCOOTERS,273423102,36679.12,0.49,0.97,0.31,1.68,7.05,0.02
17,16,GRASIM,Grasim Industries Ltd.,CEMENT,1316590852,63499.90,0.85,1.22,0.45,1.96,1.70,0.03
18,17,HCLTECH,HCL Technologies Ltd.,COMPUTERS - SOFTWARE,5427330192,114220.20,1.53,0.81,0.26,1.30,-7.26,0.02
19,18,HDFCBANK,HDFC Bank Ltd.,PRIVATE SECTOR BANK,5544652376,606492.93,8.10,1.13,0.51,3.08,-5.83,0.02
20,19,HDFCLIFE,HDFC Life Insurance Company Ltd.,LIFE INSURANCE,21125226940,54134.66,0.72,0.96,0.34,2.32,8.21,0.02
21,20,HEROMOTOCO,Hero MotoCorp Ltd.,MOTOR CYCLES/SCOOTERS,399623882,32555.81,0.43,0.90,0.32,1.87,9.26,0.02
22,21,HINDALCO,Hindalco Industries Ltd.,ALUMINIUM,2247172724,70498.86,0.94,1.14,0.21,2.00,-15.25,0.02
23,22,HINDUNILVR,Hindustan Unilever Ltd.,DIVERSIFIED,2349591262,199537.39,2.67,0.64,0.22,1.86,9.09,0.02
24,23,HDFC,Housing Development Finance Corporation Ltd.,HOUSING FINANCE,3618452048,403403.13,5.39,1.30,0.54,3.12,-6.72,0.02
25,24,ICICIBANK,ICICI Bank Ltd.,PRIVATE SECTOR BANK,13896930854,516479.44,6.90,1.09,0.43,1.05,1.78,0.03
26,25,ITC,ITC Ltd.,CIGARETTES & RELATED PRODUCTS,12323255932,227093.58,3.03,0.84,0.28,1.60,3.55,0.03
27,26,INDUSINDBK,IndusInd Bank Ltd.,PRIVATE SECTOR BANK,7746520180,63675.00,0.85,1.36,0.35,1.67,4.61,0.03
28,27,INFY,Infosys Ltd.,COMPUTERS - SOFTWARE,21033693205,573701.76,7.66,0.90,0.37,2.12,-17.79,0.02
29,28,JSWSTEEL,JSW Steel Ltd.,STEEL,2417220440,70307.27,0.94,1.24,0.31,1.42,-0.75,0.03
30,29,KOTAKBANK,Kotak Mahindra Bank Ltd.,PRIVATE SECTOR BANK,9921868655,262960.28,3.51,1.14,0.45,1.53,2.10,0.02
31,30,LT,Larsen & Toubro Ltd.,ENGINEERING-DESIGNING-CONSTRUCTION,2809931704,204723.33,2.74,1.04,0.46,1.62,-4.15,0.03
32,31,M&M,Mahindra & Mahindra Ltd.,PASSENGER/UTILITY VEHICLES,6215962720,88268.78,1.18,0.97,0.30,1.50,14.33,0.02
33,32,MARUTI,Maruti Suzuki India Ltd.,PASSENGER/UTILITY VEHICLES,1510400300,102581.31,1.37,0.90,0.23,1.50,2.07,0.03
34,33,NTPC,NTPC Ltd.,POWER,96966661340,74216.34,0.99,0.73,0.17,2.36,15.70,0.03
35,34,NESTLEIND,Nestle India Ltd.,CONSUMER FOOD,964157160,65391.17,0.87,0.38,0.11,1.19,5.46,0.03
36,35,ONGC,Oil & Natural Gas Corporation Ltd.,OIL EXPLORATION,62901396030,58536.67,0.78,0.49,0.05,1.62,-2.10,0.02
37,36,POWERGRID,Power Grid Corporation of India Ltd.,POWER - TRANSMISSION,69754528640,77844.31,1.04,0.51,0.09,1.94,5.05,0.03
38,37,RELIANCE,Reliance Industries Ltd.,REFINERIES/MARKETING,67648761980,962660.49,12.86,1.09,0.44,1.74,5.90,0.02
39,38,SBILIFE,SBI Life Insurance Company Ltd.,LIFE INSURANCE,10003705620,48660.02,0.65,0.77,0.23,2.17,-1.42,0.03
40,39,SHREECEM,Shree Cement Ltd.,CEMENT,360807480,34604.88,0.46,0.97,0.32,1.53,7.86,0.03
41,40,SBIN,State Bank of India,PUBLIC SECTOR BANK,8924611534,190459.24,2.54,1.20,0.45,1.52,0.56,0.02
42,41,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,PHARMACEUTICALS,2399334970,100266.41,1.34,0.69,0.18,1.35,1.52,0.02
43,42,TCS,Tata Consultancy Services Ltd.,COMPUTERS - SOFTWARE,3699051373,367343.91,4.91,0.74,0.32,1.42,-5.17,0.02
44,43,TATACONSUM,Tata Consumer Products Ltd.,TEA & COFFEE,921551715,49343.33,0.66,0.94,0.31,1.89,5.96,0.02
45,44,TATAMOTORS,Tata Motors Ltd.,PASSENGER/UTILITY VEHICLES,6641324014,78468.57,1.05,1.68,0.35,1.90,0.89,0.02
46,45,TATASTEEL,Tata Steel Ltd.,STEEL,12221189640,102522.70,1.37,1.31,0.28,1.68,-2.77,0.02
47,46,TECHM,Tech Mahindra Ltd.,COMPUTERS - SOFTWARE,4856894060,78269.82,1.05,1.08,0.32,1.48,-16.04,0.02
48,47,TITAN,Titan Company Ltd.,"GEMS, JEWELLERY AND WATCHES",887786160,102570.73,1.37,1.07,0.32,1.74,-3.07,0.02
49,48,UPL,UPL Ltd.,PESTICIDES AND AGROCHEMICALS,1528090912,45268.78,0.60,0.81,0.18,1.46,6.93,0.03
50,49,ULTRACEMCO,UltraTech Cement Ltd.,CEMENT,2886667580,76557.31,1.02,0.93,0.35,1.31,0.42,0.03
51,50,WIPRO,Wipro Ltd.,COMPUTERS - SOFTWARE,10964140230,75310.49,1.01,0.98,0.33,1.43,-14.04,0.02

In [46]:
df2 = df.iloc[:50]
df2

1,Sr. No,Security Symbol,Security Name,Industry,Equity Capital (In Rs.),Free Float Market Capitalisation (Rs. Crores),Weightage (%),Beta,R2,Volatility (%),Monthly Return,Avg. Impact Cost (%)
2,1,ADANIPORTS,Adani Ports and Special Economic Zone Ltd.,PORT,4224746460,61507.24,0.82,1.37,0.34,2.63,10.62,0.03
3,2,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,HOSPITAL,718923285,45473.17,0.61,0.83,0.11,2.15,-1.37,0.02
4,3,ASIANPAINT,Asian Paints Ltd.,PAINTS,959197790,145940.41,1.95,0.75,0.20,1.46,5.11,0.02
5,4,AXISBANK,Axis Bank Ltd.,PRIVATE SECTOR BANK,6139220726,192340.56,2.57,1.11,0.39,1.95,-4.28,0.02
6,5,BAJAJ-AUTO,Bajaj Auto Ltd.,MOTOR CYCLES/SCOOTERS,2893670200,48564.39,0.65,0.68,0.22,1.85,2.10,0.03
7,6,BAJFINANCE,Bajaj Finance Ltd.,NBFC,1210858466,177729.32,2.37,1.36,0.46,2.15,-8.10,0.02
8,7,BAJAJFINSV,Bajaj Finserv Ltd.,GENERAL INSURANCE,795687220,90171.05,1.20,1.31,0.42,1.44,-12.60,0.03
9,8,BPCL,Bharat Petroleum Corporation Ltd.,REFINERIES/MARKETING,21692527440,34609.13,0.46,0.90,0.25,2.27,0.90,0.02
10,9,BHARTIARTL,Bharti Airtel Ltd.,TELECOM - SERVICES,27460136340,174520.15,2.33,0.81,0.22,1.17,-2.11,0.02
11,10,BRITANNIA,Britannia Industries Ltd.,CONSUMER FOOD,240868296,38703.50,0.52,0.57,0.20,1.29,2.27,0.02
12,11,CIPLA,Cipla Ltd.,PHARMACEUTICALS,1613628072,50665.34,0.68,0.10,0.00,1.49,-3.62,0.02
13,12,COALINDIA,Coal India Ltd.,INDUSTRIAL MINERALS,61627283270,38313.07,0.51,0.87,0.13,2.92,-0.11,0.03
14,13,DIVISLAB,Divi's Laboratories Ltd.,PHARMACEUTICALS,530937160,57410.02,0.77,0.77,0.21,1.41,2.35,0.03
15,14,DRREDDY,Dr. Reddy's Laboratories Ltd.,PHARMACEUTICALS,832129245,50199.42,0.67,0.60,0.15,1.43,-3.81,0.02
16,15,EICHERMOT,Eicher Motors Ltd.,MOTOR CYCLES/SCOOTERS,273423102,36679.12,0.49,0.97,0.31,1.68,7.05,0.02
17,16,GRASIM,Grasim Industries Ltd.,CEMENT,1316590852,63499.90,0.85,1.22,0.45,1.96,1.70,0.03
18,17,HCLTECH,HCL Technologies Ltd.,COMPUTERS - SOFTWARE,5427330192,114220.20,1.53,0.81,0.26,1.30,-7.26,0.02
19,18,HDFCBANK,HDFC Bank Ltd.,PRIVATE SECTOR BANK,5544652376,606492.93,8.10,1.13,0.51,3.08,-5.83,0.02
20,19,HDFCLIFE,HDFC Life Insurance Company Ltd.,LIFE INSURANCE,21125226940,54134.66,0.72,0.96,0.34,2.32,8.21,0.02
21,20,HEROMOTOCO,Hero MotoCorp Ltd.,MOTOR CYCLES/SCOOTERS,399623882,32555.81,0.43,0.90,0.32,1.87,9.26,0.02
22,21,HINDALCO,Hindalco Industries Ltd.,ALUMINIUM,2247172724,70498.86,0.94,1.14,0.21,2.00,-15.25,0.02
23,22,HINDUNILVR,Hindustan Unilever Ltd.,DIVERSIFIED,2349591262,199537.39,2.67,0.64,0.22,1.86,9.09,0.02
24,23,HDFC,Housing Development Finance Corporation Ltd.,HOUSING FINANCE,3618452048,403403.13,5.39,1.30,0.54,3.12,-6.72,0.02
25,24,ICICIBANK,ICICI Bank Ltd.,PRIVATE SECTOR BANK,13896930854,516479.44,6.90,1.09,0.43,1.05,1.78,0.03
26,25,ITC,ITC Ltd.,CIGARETTES & RELATED PRODUCTS,12323255932,227093.58,3.03,0.84,0.28,1.60,3.55,0.03
27,26,INDUSINDBK,IndusInd Bank Ltd.,PRIVATE SECTOR BANK,7746520180,63675.00,0.85,1.36,0.35,1.67,4.61,0.03
28,27,INFY,Infosys Ltd.,COMPUTERS - SOFTWARE,21033693205,573701.76,7.66,0.90,0.37,2.12,-17.79,0.02
29,28,JSWSTEEL,JSW Steel Ltd.,STEEL,2417220440,70307.27,0.94,1.24,0.31,1.42,-0.75,0.03
30,29,KOTAKBANK,Kotak Mahindra Bank Ltd.,PRIVATE SECTOR BANK,9921868655,262960.28,3.51,1.14,0.45,1.53,2.10,0.02
31,30,LT,Larsen & Toubro Ltd.,ENGINEERING-DESIGNING-CONSTRUCTION,2809931704,204723.33,2.74,1.04,0.46,1.62,-4.15,0.03
32,31,M&M,Mahindra & Mahindra Ltd.,PASSENGER/UTILITY VEHICLES,6215962720,88268.78,1.18,0.97,0.30,1.50,14.33,0.02
33,32,MARUTI,Maruti Suzuki India Ltd.,PASSENGER/UTILITY VEHICLES,1510400300,102581.31,1.37,0.90,0.23,1.50,2.07,0.03
34,33,NTPC,NTPC Ltd.,POWER,96966661340,74216.34,0.99,0.73,0.17,2.36,15.70,0.03
35,34,NESTLEIND,Nestle India Ltd.,CONSUMER FOOD,964157160,65391.17,0.87,0.38,0.11,1.19,5.46,0.03
36,35,ONGC,Oil & Natural Gas Corporation Ltd.,OIL EXPLORATION,62901396030,58536.67,0.78,0.49,0.05,1.62,-2.10,0.02
37,36,POWERGRID,Power Grid Corporation of India Ltd.,POWER - TRANSMISSION,69754528640,77844.31,1.04,0.51,0.09,1.94,5.05,0.03
38,37,RELIANCE,Reliance Industries Ltd.,REFINERIES/MARKETING,67648761980,962660.49,12.86,1.09,0.44,1.74,5.90,0.02
39,38,SBILIFE,SBI Life Insurance Company Ltd.,LIFE INSURANCE,10003705620,48660.02,0.65,0.77,0.23,2.17,-1.42,0.03
40,39,SHREECEM,Shree Cement Ltd.,CEMENT,360807480,34604.88,0.46,0.97,0.32,1.53,7.86,0.03
41,40,SBIN,State Bank of India,PUBLIC SECTOR BANK,8924611534,190459.24,2.54,1.20,0.45,1.52,0.56,0.02
42,41,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,PHARMACEUTICALS,2399334970,100266.41,1.34,0.69,0.18,1.35,1.52,0.02
43,42,TCS,Tata Consultancy Services Ltd.,COMPUTERS - SOFTWARE,3699051373,367343.91,4.91,0.74,0.32,1.42,-5.17,0.02
44,43,TATACONSUM,Tata Consumer Products Ltd.,TEA & COFFEE,921551715,49343.33,0.66,0.94,0.31,1.89,5.96,0.02
45,44,TATAMOTORS,Tata Motors Ltd.,PASSENGER/UTILITY VEHICLES,6641324014,78468.57,1.05,1.68,0.35,1.90,0.89,0.02
46,45,TATASTEEL,Tata Steel Ltd.,STEEL,12221189640,102522.70,1.37,1.31,0.28,1.68,-2.77,0.02
47,46,TECHM,Tech Mahindra Ltd.,COMPUTERS - SOFTWARE,4856894060,78269.82,1.05,1.08,0.32,1.48,-16.04,0.02
48,47,TITAN,Titan Company Ltd.,"GEMS, JEWELLERY AND WATCHES",887786160,102570.73,1.37,1.07,0.32,1.74,-3.07,0.02
49,48,UPL,UPL Ltd.,PESTICIDES AND AGROCHEMICALS,1528090912,45268.78,0.60,0.81,0.18,1.46,6.93,0.03
50,49,ULTRACEMCO,UltraTech Cement Ltd.,CEMENT,2886667580,76557.31,1.02,0.93,0.35,1.31,0.42,0.03
51,50,WIPRO,Wipro Ltd.,COMPUTERS - SOFTWARE,10964140230,75310.49,1.01,0.98,0.33,1.43,-14.04,0.02

In [47]:
df3 = pd.DataFrame()
df3["Symbol"] = df2['Security Symbol']

df3['Weight']=df2['Weightage (%)']

In [50]:
df4 = df3.reset_index(drop=True)
df4.head()

       Symbol Weight
0  ADANIPORTS   0.82
1  APOLLOHOSP   0.61
2  ASIANPAINT   1.95
3    AXISBANK   2.57
4  BAJAJ-AUTO   0.65

In [53]:
df5=df4.set_index('Symbol')
df5.head()

           Weight
Symbol
ADANIPORTS   0.82
APOLLOHOSP   0.61
ASIANPAINT   1.95
AXISBANK     2.57
BAJAJ-AUTO   0.65

In [54]:
df5['Change']=0
df5.head()

           Weight  Change
Symbol
ADANIPORTS   0.82       0
APOLLOHOSP   0.61       0
ASIANPAINT   1.95       0
AXISBANK     2.57       0
BAJAJ-AUTO   0.65       0

In [56]:
uploaded = files.upload()
df11 = pd.read_csv(io.BytesIO(uploaded['T20-GL-gainers-NIFTY-29-May-2022.csv']))
df11.head()

Saving T20-GL-gainers-NIFTY-29-May-2022.csv to T20-GL-gainers-NIFTY-29-May-2022 (1).csv

,Symbol,Open,High,Low,Prev. Close,LTP,%chng,Volume,Value,CA
0,APOLLOHOSP,3700.00,3880.00,3573.00,3662.80,3850.00,5.11,1733752,6.504205e+09,18-Aug-2021
1,TECHM,1095.00,1126.20,1092.00,1078.60,1124.05,4.21,3367600,3.750664e+09,02-Nov-2021
2,HDFCLIFE,582.00,604.30,577.40,578.05,597.50,3.36,8795852,5.248221e+09,31-May-2022
3,INDUSINDBK,908.35,927.00,905.20,897.60,926.00,3.16,2509528,2.309870e+09,17-Aug-2021
4,WIPRO,460.00,467.95,456.25,453.35,467.60,3.14,5707236,2.641765e+09,05-Apr-2022

In [57]:
df12 = pd.DataFrame()
df12["Symbol"] = df11['Symbol']

df12['Change']=df11['%chng']
df12.head()

       Symbol  Change
0  APOLLOHOSP    5.11
1       TECHM    4.21
2    HDFCLIFE    3.36
3  INDUSINDBK    3.16
4       WIPRO    3.14

In [59]:
df13=df12.set_index('Symbol')
df13.head()

            Change
Symbol
APOLLOHOSP    5.11
TECHM         4.21
HDFCLIFE      3.36
INDUSINDBK    3.16
WIPRO         3.14

In [62]:
df20 = df5.merge(df13, on=['Symbol'])
df20

           Weight  Change_x  Change_y
Symbol
APOLLOHOSP   0.61         0      5.11
BAJFINANCE   2.37         0      2.84
BAJAJFINSV   1.20         0      2.58
DIVISLAB     0.77         0      1.84
DRREDDY      0.67         0      2.06
HCLTECH      1.53         0      2.63
HDFCBANK     8.10         0      1.95
HDFCLIFE     0.72         0      3.36
HEROMOTOCO   0.43         0      3.02
HINDUNILVR   2.67         0      2.32
HDFC         5.39         0      1.85
INDUSINDBK   0.85         0      3.16
INFY         7.66         0      2.99
KOTAKBANK    3.51         0      2.06
LT           2.74         0      2.46
M&M          1.18         0      1.95
MARUTI       1.37         0      1.67
TATAMOTORS   1.05         0      2.27
TECHM        1.05         0      4.21
WIPRO        1.01         0      3.14

In [63]:
uploaded = files.upload()
df14 = pd.read_csv(io.BytesIO(uploaded['T20-GL-loosers-NIFTY-29-May-2022.csv']))
df14.head()

Saving T20-GL-loosers-NIFTY-29-May-2022.csv to T20-GL-loosers-NIFTY-29-May-2022.csv

,Symbol,Open,High,Low,Prev. Close,LTP,%chng,Volume,Value,CA
0,ONGC,155.00,155.50,141.1,151.90,143.5,-5.53,52469252,7.586529e+09,21-Feb-2022
1,NTPC,155.00,155.00,149.5,154.15,149.9,-2.76,10245727,1.551920e+09,03-Feb-2022
2,POWERGRID,228.60,228.65,223.4,227.20,224.3,-1.28,6322869,1.423088e+09,16-Feb-2022
3,BHARTIARTL,697.05,700.00,676.0,693.65,685.0,-1.25,7131633,4.905351e+09,27-Sep-2021
4,TATASTEEL,1062.50,1067.65,1032.0,1052.00,1043.0,-0.86,7477220,7.825285e+09,15-Jun-2022

In [73]:
df15 = pd.DataFrame()
df15["Symbol"] = df14['Symbol']

df15['Change']=df14['%chng']
df15

        Symbol  Change
0         ONGC   -5.53
1         NTPC   -2.76
2    POWERGRID   -1.28
3   BHARTIARTL   -1.25
4    TATASTEEL   -0.86
5    COALINDIA   -0.68
6     JSWSTEEL   -0.57
7   BAJAJ-AUTO   -0.51
8         BPCL   -0.51
9     RELIANCE   -0.46
10        SBIN   -0.19
11   BRITANNIA   -0.17
12   NESTLEIND   -0.15
13  ASIANPAINT   -0.11
14       CIPLA   -0.04

In [65]:
df21 = df5.merge(df15, on=['Symbol'])
df21

        Symbol Weight  Change_x  Change_y
0   ASIANPAINT   1.95         0     -0.11
1   BAJAJ-AUTO   0.65         0     -0.51
2         BPCL   0.46         0     -0.51
3   BHARTIARTL   2.33         0     -1.25
4    BRITANNIA   0.52         0     -0.17
5        CIPLA   0.68         0     -0.04
6    COALINDIA   0.51         0     -0.68
7     JSWSTEEL   0.94         0     -0.57
8         NTPC   0.99         0     -2.76
9    NESTLEIND   0.87         0     -0.15
10        ONGC   0.78         0     -5.53
11   POWERGRID   1.04         0     -1.28
12    RELIANCE  12.86         0     -0.46
13        SBIN   2.54         0     -0.19
14   TATASTEEL   1.37         0     -0.86

In [69]:
df21['Weight'] = df21['Weight'].astype(float)

df21['Product']=df21['Weight']*df21['Change_y']
df21.head()

       Symbol  Weight  Change_x  Change_y  Product
0  ASIANPAINT    1.95         0     -0.11  -0.2145
1  BAJAJ-AUTO    0.65         0     -0.51  -0.3315
2        BPCL    0.46         0     -0.51  -0.2346
3  BHARTIARTL    2.33         0     -1.25  -2.9125
4   BRITANNIA    0.52         0     -0.17  -0.0884

In [70]:
df20['Weight'] = df20['Weight'].astype(float)

df20['Product']=df20['Weight']*df20['Change_y']
df20.head()

            Weight  Change_x  Change_y  Product
Symbol
APOLLOHOSP    0.61         0      5.11   3.1171
BAJFINANCE    2.37         0      2.84   6.7308
BAJAJFINSV    1.20         0      2.58   3.0960
DIVISLAB      0.77         0      1.84   1.4168
DRREDDY       0.67         0      2.06   1.3802

In [72]:
Gain=df20['Product'].sum()
Loss=df21['Product'].sum()
Direction = Gain+Loss
Direction

88.793